<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone_temi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.CapstoneTEMI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".FaceVerificationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />
        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.settings,             com.robotemi.permission.map, com.robotemi.permission.face_recognition" />

        <activity
            android:name=".GuideActivity"
            android:exported="true"
            android:label=""
            android:launchMode="singleInstance"
            android:finishOnTaskLaunch="true">

            <!-- android:launchMode="singleInstancePerTask" -->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="temibot.com"
                    android:pathPrefix="/level/"
                    android:scheme="http" />
                <data
                    android:host="temibot.com"
                    android:pathPrefix="/level/"
                    android:scheme="temi" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.capstone_temi.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>